@model NopValley.Plugins.Misc.Areas.Admin.Models.BlogAdditionalModel

@if (Model.PictureModel != null)
{
    <div class="text-center mtb30">
        <img src="@Model.PictureModel.FullSizeImageUrl" />
    </div>
}


