@model PublicServicePostListModel

<div class="block block-category-navigation">
    <div class="title"><strong>Categories</strong></div>
    <div class="listbox">
        <ul class="list">
            @foreach (var category in Model.Categories)
            {
                <li>
                    <a>@category.Text</a>
                </li>
            }
        </ul>
    </div>
</div>

