@inject Nop.Services.Html.IHtmlFormatter htmlFormatter
@model PublicServicePostModel
@{
    Layout = "~/Plugins/NopValley.Misc/Views/ServicePosts/_ColumnOne.cshtml";
    // //title
    // NopHtml.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    // //meta
    // NopHtml.AddMetaDescriptionParts(Model.MetaDescription);
    // NopHtml.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    NopHtml.AppendPageCssClassParts("html-servicepost-page");
}
<link rel="stylesheet" href="~/Plugins/NopValley.Misc/Content/css/styles.css" />

<div class="page servicepost-page">
    <h1 class="text-center">@Model.Name</h1>
    @await Html.PartialAsync("~/Plugins/NopValley.Misc/Views/ServicePosts/_ServicePostDetailsPictures.cshtml", Model)
   @*  <div class="text-center">
        <img src="@Model.PictureModel.FullSizeImageUrl" />
    </div>     *@
    <div class="service-details">
        @Html.Raw(Model.Body)
    </div>
</div>
