@model NopValley.Plugins.Misc.Areas.Admin.Models.ServicePostCategoryModel
@{
    const string hideInfoBlockAttributeName = "ServicePostCategoryPage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideInfoBlockAttributeName);

    const string hideSeoBlockAttributeName = "ServicePostCategoryPage.HideSEOBlock";
    var hideSeoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSeoBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="blog-post-cards">
                <nop-card asp-name="blog-post-info" asp-icon="fas fa-info" asp-title="@T("Admin.ContentManagement.Blog.BlogPosts.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("~/Plugins/NopValley.Misc/Areas/Admin/Views/ServicePostCategory/_CreateOrUpdate.Info.cshtml", Model)</nop-card>
                
               
            </nop-cards>
        </div>
    </div>
</section>