@model NopValley.Plugins.Misc.Models.Catalog.ProductDetailsModel
@if (Model.DisplayDiscontinuedMessage)
{
    <div class="discontinued-product">
        <h4>@T("Products.Discontinued")</h4>
    </div>
}